body {
    font-family: Work Sans;
    padding: 0%;
}

.header-cover {
    background-image: url("images/banner1.png");
    background-repeat: no-repeat;
}

.banner-content {
    text-align: right;
    padding: 200px 100px;
}

.banner-content h1 {
    font-size: 65px;
    color: #151414
}

h1 {
    font-size: 40px;
    color: #151414
}

p {
    font-size: 18px;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
}

.banner-content p {
    font-size: 18px;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 50px;
}

.btn {
    padding: 15px 20px;
    background-color: #F15B22;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: large;
}

.content-section {
    display: flex;

}

.person-content {
    margin: 200px 0px 0px 150px;
}

.person {

    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;
}

ul li::marker {
    content: '✓';
    color: green;

}

.list {
    margin-left: -20px;
    font-size: 18px;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
}

.my-plan {
    position: relative;
    display: flex;
    margin: 50px 50px;
    align-content: center;
}

.my-plan-content {
    padding: 50px;
    text-align: center;
    margin-left: 70px;
}

.slide-sectiob {
    position: relative;
    background-image: linear-gradient(rgba(0, 128, 0, 0.621), rgba(255, 0, 0, 0.801)), url("images/watch.png");
    background-repeat: no-repeat;
    align-content: center;
    margin-left: 250px;
    width: 65%;
    height: 38vh;
    border-radius: 10px;

}

.slide-content {
    padding: 40px 0px 0px 50px;
}

.slide-content h1 {
    color: white;
}

.footer {
    background-color: #151414;
    color: white;
    width: 1600px;
    height: 380px;
    left: 0px;
    padding: 100px 100px 100px;
    display: flex;
    margin-top: 100px;
}

.footer h1 {
    color: white;
}

.footer p {
    color: white;
}

.info{
    padding-left: 200px;
}

.input{
    padding: 60px 0px 0px 300px;
}

.input h2 {
    font-weight: 600;
    font-size: 25px;
}

.submit-btn{
    background-color: white;
    color: #F15B22;
    padding: 10px 20px;
    margin-top: 50px;
    text-decoration: none;
    font-weight: 400;
    border-radius: 5px;
}

.input-form {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}